label {
	margin: none;
}

img.plastelinka {
	transition: all 300ms ease-in-out;
}

input[type="checkbox"] {
    display: none;
}


input[type="checkbox"]:checked + img.plastelinka {
	
  transform: translateX(70px);
}

.container {
  position: relative;
  width: 500px;
  height: 850px;
  margin: 2%;
}

.containerMix {
  position: relative;
  width: 370px;
  height: 312px;
  background-color: #ffffff;
}

#target {
  position: absolute;
  background:none;
  width:100%;
  height:100%;
  display:none;
}

#bottom {
  background: none;
  width: 100%;
  height: 100%;
}





